<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Controller ng-repeat</title>
        <meta charset="utf-8"/>
    </head>
    <body>
    
        <div ng-controller="aula07Controller">
            <ul>
                <li ng-repeat="nome in nomes">{{ nome }}</li>
            </ul>
            
            <br/>

            <input type="text" id="nomePessoa" placeholder="Nome"/>
            <input type="text" id="idadePessoa" placeholder="Idade"/>
            <button type="button" ng-click="adicionarPessoa()">Adicionar</button>
            
            <br/>
            
            <ul>
                <li ng-repeat="pessoa in pessoas">{{ pessoa.nome }} - {{ pessoa.idade }}</li>
            </ul>
            
        </div>
        
        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.module.js"></script>
        
        <!-- controller -->
        <script type="text/javascript" src="js/aula07Controller.js"></script>
    </body>
</html>